#THE EXPRESS SERVER PORT
PORT=
#YOUR METAMASK PRIVATE KEY (Owner/Admin)
PRIVATE_KEY=
#YOUR METAMASK WALLET PUBLIC ADDRESS (Owner/Admin)
WALLET=
#YOUR TOKEN SMART CONTRACT ADDRESS
CONTRACT_ADDRESS=
#YOUR BLOCKCHAIN NODE RPC SERVER. Ex.: https://data-seed-prebsc-1-s1.binance.org:8545/
NODE_URL=